
.duo-button {
    -fx-background-color: rgb(255, 155, 4); 
    -fx-text-fill: white;
    -fx-font-family: 'Arial', sans-serif; 
    -fx-text-stroke: rgb(0, 0, 0); 
    -fx-text-stroke-width: 10px; 
    -fx-font-size: 54px;
    -fx-font-weight: bold;
    -fx-border-radius: 20; 
    -fx-background-radius: 20; 
    -fx-padding: 10 15; 
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 5, 0, 0, 5); 
}

.duo-button .text {
    -fx-effect: dropshadow(one-pass-box, black, 7, 1, 0, 0);
}


.duo-button:hover {
    -fx-background-color: rgb(255, 155, 4); 
}


.duo-button:pressed {
    -fx-background-color: rgb(211, 127, 0); 
    -fx-translate-y: 2px; 
    -fx-effect: dropshadow(two-pass-box, rgba(0,0,0,0.6), 3, 0, 0, 3); 
}


.duo-button:disabled {
    -fx-background-color: #cccccc; 
    -fx-text-fill: #666666;
    -fx-effect: none; 
}


.transparent-text-field {
    -fx-background-color: transparent; 
    -fx-border-color: transparent; 
    -fx-text-fill: rgb(255, 155, 4); 
    -fx-font-family: 'Arial', sans-serif; 
    -fx-font-size: 70px; 
    -fx-font-weight: bold; 
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.7), 2, 0, 0, 2); 
}


.transparent-pane {
    -fx-background-color: transparent; 
}

.slider {
    -fx-control-inner-background: #f0f0f0;
}

.slider .track {
    -fx-background-color: linear-gradient(to right, #FFA500, #FF4500);
    -fx-background-radius: 5px;
    -fx-background-insets: 0px;
}

.slider .thumb {
    -fx-background-color: #FF8C00;
    -fx-background-radius: 15px;
    -fx-background-insets: 0px;
    -fx-pref-width: 15px;
    -fx-pref-height: 15px;
}

.slider:hover .track {
    -fx-background-color: linear-gradient(to right, #FFD700, #FF7F50);
}

.slider .axis {
    -fx-tick-mark-fill: #FFA07A;
}
